/* CUSTOM PROPS */
:root {
  --accent-color: #ff7500;
  --bg-color: #252420;
  --roboto: "Roboto", sans-serif;
  --roboto-condensed: "Roboto Condensed", sans-serif;
}

/* FONT-FACE */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border-top: 5px solid var(--accent-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  background-color: #fff;
  color: #000;
}

.container {
  max-width: 100%;
  width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}

/* BUTTON */
.button {
  padding: 12px 24px;
  background-color: var(--accent-color);
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  border-radius: 4px;
  letter-spacing: 0.5px;
  transition: opacity 0.4s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

/* SITE-HEADER */
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.logo {
  display: flex;
  transition: opacity 0.4s ease;
}

.site--logo-img {
  width: 227px;
  height: 60px;
  object-fit: contain;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.sitenav {
  margin-right: 32px;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link {
  display: block;
  color: #000;
  border-bottom: 3px solid transparent;
  padding-bottom: 4px;
  padding-top: 4px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.sitenav__link--active {
  border-bottom-color: #ff7500;
}

.sitenav__link:hover {
  color: var(--accent-color);
}

.sitenav__link:active {
  color: var(--accent-color);
  opacity: 0.6;
}

/* SITE-HERO */
.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
  background-color: var(--bg-color);
}

.hero__container {
  display: flex;
  position: relative;
}

.hero__inner {
  width: 100%;
  max-width: 387px;
  margin-right: 24px;
}

.hero__line {
  border: 0;
  margin: 0;
  margin-bottom: 40px;
  height: 3px;
  width: 80px;
  background-color: var(--accent-color);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  color: #fff;
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.hero__description {
  color: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 32px;
}

.hero__img {
  position: absolute;
  right: 50px;
  top: -40px;
  width: 510px;
  height: 510px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 24px 24px 0px 0px rgba(255, 117, 0, 0.6);
}

/* SITE-FEATURE */
.feature {
  padding-top: 210px;
  padding-bottom: 210px;
  background-color: #fff;
}

.feature__line {
  border: 0;
  width: 80px;
  height: 3px;
  background-color: var(--accent-color);
  margin: 0;
  margin-bottom: 24px;
}

.feature__heading {
  margin-top: 0;
  margin-bottom: 72px;
  color: #000;
  width: 100%;
  max-width: 435px;
  font-family: var(--roboto-condensed);
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 86.4px */
  letter-spacing: 0.5px;
}

.feature__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.feature__item:not(:last-child) {
  margin-right: 40px;
}

.feature__item {
  width: 340px;
  flex-shrink: 0;
}

.feature__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  margin-bottom: 32px;
}

.feature__img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 12px;
  color: #000;
  font-family: var(--roboto-condensed);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.feature__description {
  margin: 0;
  color: #000;
  width: 100%;
  max-width: 314px;
  font-family: var(--roboto);
  font-style: normal;
  letter-spacing: 0.5px;
}

.promo {
  padding-top: 120px;
  padding-bottom: 160px;
}

.promo__container {
  background-color: var(--bg-color);
  border-radius: 12px;
  position: relative;
  padding: 64px;
}

.promo__inner {
  width: 100%;
  max-width: 440px;
}

.promo__heading {
  margin-top: 0;
  margin-bottom: 24px;
  color: #fff;
  font-family: var(--roboto-condensed);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.promo__text {
  margin: 0;
  margin-bottom: 24px;
  color: #fff;
  font-family: var(--roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.promo__text:not(:last-child) {
  margin-bottom: 12px;
}

.promo__accent-text {
  color: var(--accent-color);
  font-family: var(--roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.promo__img {
  position: absolute;
  bottom: 64px;
  right: 64px;
  width: 440px;
  height: 440px;
  object-fit: contain;
  border-radius: 12px;
}

/* SITE-FOOTER */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #fff;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(37, 36, 32, 0.5);
}

.footer__logo {
  margin-right: 36px;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__icon:not(:last-child) {
  margin-right: 16px;
}

.footer__icon svg {
  color: var(--bg-color);
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.footer__icon svg:hover {
  color: var(--accent-color);
}

.footer__icon svg:active {
  opacity: 0.6;
}

.footer__bottom {
  display: flex;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 224px;
  margin-right: 68px;
}

.footer__list:last-child {
  margin-right: 0;
}

.footer__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer__link {
  color: #252420;
  font-family: var(--roboto);
  font-size: 16px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.footer__link:hover {
  color: var(--accent-color);
}

.footer__link:active {
  color: var(--accent-color);
  opacity: 0.6;
}


@media only screen and (max-width: 1140px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .feature {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .feature__item {
    width: 30.9%;
  }

  .feature__item:not(:last-child) {
    margin-right: 3.63%;
  }

  .promo__container {
    border-radius: 0;
  }

  .promo__inner {
    margin-right: 26px;
  }

  .footer__list {
    width: 20.36%;
    margin-right: 6.18%;
  }

  .footer__list:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .hero__container {
    justify-content: space-between;
  }

  .hero__img {
    position: static;
    width: 450px;
    height: 450px;
  }

  .promo {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .promo__container {
    display: flex;
    align-items: center;
  }

  .promo__img {
    position: static;
  }
}

@media only screen and (max-width: 830px) {
  .hero__container {
    flex-direction: column;
    align-items: center;
  }

  .hero__inner {
    text-align: center;
    margin-right: 0;
  }

  .hero__line {
    margin-left: auto;
    margin-right: auto;
  }

  .hero__img {
    order: -1;
    margin-bottom: 26px;
    box-shadow: 12px -12px 0px 0px rgba(255, 117, 0, 0.6);
  }

  .promo__container {
    flex-direction: column;
  }

  .promo__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 36px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 760px) {
  .footer__bottom {
    flex-wrap: wrap;
  }

  .footer__list {
    width: 30%;
    margin-bottom: 36px;
    margin-right: 5%;
  }

  .footer__list:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 650px) {
  .feature__list {
    flex-wrap: wrap;
  }

  .feature__item {
    width: 47%;
    margin-bottom: 24px;
  }

  .feature__item:not(:last-child) {
    margin-right: 6%;
  }

  .feature__item:nth-child(even) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .footer__list {
    width: 46%;
    margin-right: 8%;
  }

  .footer__list:nth-child(3n) {
    margin-right: 8%;
  }

  .footer__list:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .hero__img {
    box-shadow: 0 0 0 0;
  }

  .hero__title {
    font-size: 35px;
  }

  .feature__line {
    margin-left: auto;
    margin-right: auto;
  }

  .feature__heading {
    font-size: 56px;
    text-align: center;
  }

  .feature__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .footer__top {
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }

  .footer__logo {
    margin-bottom: 16px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 470px) {
  .promo__img {
    object-fit: cover;
    object-position: top;
  }
}

@media only screen and (max-width: 400px) {
  .hero__title {
    font-size: 25px;
  }

  .hero__description {
    font-size: 12px;
  }

  .feature {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .feature__heading {
    font-size: 36px;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__list {
    width: 100%;
  }
}